extends layout
include utils 
block content 
    form(action="/user/register" method="POST") 
        +field("First Name", "firstname", "")
        +field("Last Name", "lastName", "")
        +field("Email Address", "emailAddress", "")
        +field("Password", "password", "")
        +field("Confirm Password", "confirmedPassword", "")
        input(type="hidden", name="_csrf" value=csrfToken)
        button(type="submit" class="btn btn-primary") Button